<a [routerLink]="['/product-list.component.html']">
</a>


<!--<div *ngFor="let header of headers">
       <a class="button fancy-button"><i class="material-icons">checkbox</i>
      {{ header.name }}
      </a>
</div>-->


<a class="button fancy-button"><i class="material-icons"></i>Services</a>
<a class="button fancy-button"><i class="material-icons"></i>About Us</a>
<a class="button fancy-button"><i class="material-icons"></i>Pricing</a>
<a class="button fancy-button"><i class="material-icons"></i>College Prep</a>
<a class="button fancy-button"><i class="material-icons"></i>Contact Us</a>