<a [routerLink]="['/product-list.component.html']">
</a>

<span *ngFor="let header of headers">
       <a class="button fancy-button"><i class="material-icons"></i>
      {{ header.name }}
      </a>
</span>

<!--
<a class="button fancy-button"><i class="material-icons"></i>Services</a>
<a class="button fancy-button"><i class="material-icons"></i>About Us</a>
<a class="button fancy-button"><i class="material-icons"></i>Pricing</a>
<a class="button fancy-button"><i class="material-icons"></i>Contact Us</a>-->